.timer {
    width: 280px;
    height: auto;
    margin: 2em auto;
    /* background-color: #14285b; */
}

.timer__interface {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 5px solid aqua;
    border-radius: 50%;
}

.timer__interface--styling {
    overflow: hidden;
}

.timer__interface__value--font-styling {
    color: #14285b;
    font-size: 4.75rem;
    text-overflow: hidden;
}

.timer__interface__value span {
    font-size: 0.5em;
}