<h2 class="route__main-page" routerLink="/">
  &larr; Back to main page
</h2>
<div class="timer-control">

  <div class="timer-control__input">
    <label for="time_limit">
      Enter the time limit and press resume
    </label>
    <input class="timer-control__input__field" (input)="setTimer()" type="number" name="time_limit"
      [(ngModel)]="inputValue" [min]="0">
  </div>

  <app-timer [timeLimit]="timeLimit" [status]="status" (timerEnded)="timerEndedAlert()"></app-timer>

  <div class="timer-control__panel">
    <button class="timer-control__panel__toggle" type="button" (click)="toggleTimer()"
      data-testid="toggle-button"
      [disabled]="inputValue < 0 || !inputValue">
      {{ status === 'PAUSE' ? 'Resume' : 'Pause' }}
    </button>
    <button class="timer-control__panel__reset" type="button" (click)="resetTimer()" [disabled]="disableResetButton">
      Reset
    </button>
  </div>
</div>
