<ng-container *ngIf="bottomSheetContent$ | async as bottomSheetContent">
  <!-- Container for the toggle button -->
  <div class="content-page">
    <div class="content-page__description">
      <p class="content-page__description__content">
        Click on the button below to toggle the bottom-sheet component
      </p>
    </div>

    <!-- Button to open the bottom-sheet -->
    <div class="content-page__toggler">
      <button (click)="toggleBottomSheet()">Open options</button>
    </div>
  </div>

  <!-- Bottom-sheet component -->
  <ng-container *ngIf="showBottomSheet">
    <app-bottom-sheet [bottomSheetContent]="bottomSheetContent" (bottomSheetClosed)="toggleBottomSheet()"></app-bottom-sheet>
  </ng-container>
</ng-container>
