<!-- Container for links to the components -->
<div class="component-link">

  <!-- Link to the bottom sheet component -->
  <div class="component-link__bottom-sheet" routerLink="/bottom-sheet">
    <h2 class="component-link__bottom-sheet__title">Bottom Sheet Component</h2>
  </div>

  <!-- Link to the countdown timer component -->
  <div class="component-link__count-down-timer" routerLink="/count-down-timer">
    <h2 class="component-link__count-down-timer__title">Countdown Timer</h2>
  </div>
</div>
